header,
.gdpr.active,
.gdpr-modal {
  display: none !important;
}

body {
    overflow: hidden;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000000000;
  width: 100vw;
  height: 100vh;
}
